<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.islam.trainingcenter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"

        android:icon="@drawable/ic_lanucher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_lanucher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".app.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Base.BaseActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".app.Module.Activites.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".app.Module.Activites.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".app.Module.FragmentHolderActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>